* {
	box-sizing: border-box;
}
body{
	background-color: #FAFAFF;
	margin: 0;
	padding: 0;
}


ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#header {
	background-color: #35259b;
	position: fixed;
	width: 100%;
	z-index: 10;
	overflow: hidden;
}


li {
	float: left;
}
#Logo {
	display: block;
	width: 6vw;
	height: 3.8689vw;
	margin: 0.2vw 0vw 0.2vw 0.5vw;
	padding: 0.2vw;
	background-color: white;
	border-radius: 0.5vw;
	text-align: center;
}
#title{
	display: block;
	font-family: Calibri;
	font-size: 2.5vw;
	color: #f0f0fa;
	letter-spacing: 0.3vw;
	text-decoration: none;
	text-align: center;
	padding: 0.5vw 5vw;
	margin: 0vw 15vw 0vw 10vw;
}


.index {
	margin-right: 2vw;
	display: block;
	font-size: 1.5vw;
	font-family: Calibri;
	text-decoration: none;
	padding: 1.26vw;
	letter-spacing: 0.08vw;
	color: #fff;
	text-align: center;
}
.index:hover{
	background-color: #D6F4FA;
	color: #000;
	opacity: 0.6;
}