* {
	box-sizing: border-box;
}
body{
	background-color: #FFF;
	margin: 0;
	padding: 0;
}
#header {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 4.3vw;
	z-index: 1;
	overflow: ;
	position: fixed;
	top: 0;
	left: 0;
}

.content article{
	font-family: Calibri;
}


#Home .content{
}
#Home .content aside{
	width: 45vw;
	margin-left: 0;
}
#Home .content img{
	width: 13vw;
	height: auto;
	float: left;
}
#Home .content article{
	display: inline-block;
	width: 50%;
	margin-left: 5vw;
	margin-right: 0;
	font-size: 1.3vw;
	margin-top: 14.5vw;
	float: left;
	text-align: justify;
}
#Home_title{
	font-size: 3vw;
}

#About_us .content ul{
	display: block;
	margin-top: 4.3vw;
	margin-bottom: 0;
	list-style-type: none;
	padding: 0;
}
#About_us .content li{
	width: 100%;
	padding: 1.68vw;
}
#About_us .content li img{
	width: 13vw;
	height: auto;
	margin-left: 3.5vw;
}
#About_us .content li p{
	position: absolute;
	margin-top: 2vw;
	padding: 3vw;
	padding-left: 10vw;
	display: inline-block;
	font-size: 1.5vw;
}
#About_us .content span{
	display: inline-block;
	padding: 1vw 0 1vw 0;
	font-size: 2vw;
	font-weight: bold;
}

#Project .content img{
	display: block;
	width: 30vw;
	margin-top: 0.2vw;
	height: auto;
	float: left;
}
#Project .content article{
	display: inline-block;
	margin-top: 17vw;
	float: left;
	width: 50%;
	margin-left: 2vw;
	
}
#Project .content article p{
	font-size: 1.3vw;
	text-align: justify;
}
#Project .content span{
	font-weight: bold;
	font-size: 1.5vw;
}

#Contact_Us .content{
	
}
#Contact_Us .content aside{
}
#Contact_Us .content img{
	display: block;
	height: 60vw;
	width: auto;
	margin-left: -3vw;
	margin-top: -12vw;
	float: left;
}
#Contact_Us .content article{
	display: block;
	font-size: 1.2vw;
	margin-left: 8vw;
	margin-top: 11vw;
	float: left;
	margin-top: 11vw;
	width: 40vw;
}
#Contact_Us .content article strong{
	font-size: 1.25vw;
	letter-spacing: 0.03vw;
	font-family: Candara;
}
#Contact_Us_Title{
	font-size: 1.8vw;
	letter-spacing: 0.03vw;
	font-family: Calibri;
	font-weight: bold;
}

