* {
	box-sizing: border-box;
}
body{
	background-color: #FAFAFF;
	margin: 0;
	padding: 0;
	height: 100vh;
}


ul {
	list-style-type: none;
	padding: 0;
	height: 100vh;
}
#header li {
	float: none;
}
#header .nav{
	background-color: #35259b;
	position: sticky;
	width: 100vw;
	height: 50vh;
	z-index: 10;
	text-align: center;
	float: right
}
#header .nav li{
}
#header .nav #End_index{
	margin-bottom: 1vh;
}

#logoli {
	width: 100vw;
	z-index: 1;
	background-color: white;
}
#Logo {
	display: block;
	width: auto;
	height: 30vh;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	margin-top:0;
}
#title{
	display: none;
	font-family: Calibri;
	font-size: 7vw;
	color: #f0f0fa;
	letter-spacing: 0.3vw;
	text-decoration: none;
	margin-right: auto;
	margin-left: auto;
}


.index {
	margin-top: 2vh;
	width: 50vw;
	display: block;
	font-size: 5vw;
	font-family: Calibri;
	text-decoration: none;
	padding: 1.5vw;
	letter-spacing: 0.08vw;
	color: #fff;
	margin-right: auto;
	margin-left: auto;
	background-color: #D6F4FA;
	color: #000;
	opacity: 0.5;
}
