* {
	box-sizing: border-box;
}
body{
	background-color: #FFF;
	margin: 0;
	padding: 0;
}
#header {
	display: block;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 30vh;
	z-index: 1;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

.content article{
	font-family: Calibri;
}


#Home .content{
}
#Home .content aside{
	width: 45vw;
	margin-left: 0;
	margin-top: 30vh;
}
#Home .content img{
	width: 100vw;
	height: 27vh;
	float: left;
}
#Home .content article{
	display: inline-block;
	width: 90vw;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 4vh;
	font-size: 2.6vw;
	float: left;
	text-align: justify;
}
#Home_title{
	font-size: 6vw;
}

#About_us .content ul{
	display: block;
	margin-top: 44vw;
	margin-bottom: 0;
	list-style-type: none;
	padding: 0;
	height: 80vh 
}
#About_us .content li{
	width: 100vw;
	padding: 1.68vw;
	border-bottom: 0.1vw dashed black;
}
#About_us .content li img{
	width: 23vh;
	height: auto;
	margin-left: 3.5vw;
}
#About_us .content li p{
	position: absolute;
	margin-top: 4vh;
	padding: 3vw;
	display: inline-block;
	font-size: 3vw;
}
#About_us .content span{
	display: inline-block;
	padding: 1vw 0 1vw 0;
	font-size: 4vw;
	font-weight: bold;
}

#Project .content img{
	width: 100vw;
	height: 27vh;
	float: left;
}
#Project .content aside{
	width: 45vw;
	margin-left: 0;
	margin-top: 30vh;
}
#Project .content article{
	display: inline-block;
	margin-top: 0;
	float: left;
	width: 90%;
	margin-left: 5vw;
	margin-left: 5vw;
	
}
#Project .content article p{
	font-size: 2.6vw;
	text-align: justify;
}
#Project .content span{
	font-weight: bold;
	font-size: 3vw;
}

#Contact_Us .content{
	
}
#Contact_Us .content aside{
	width: 45vw;
	margin-left: 30vw;
	margin-top: 30vh;
}
#Contact_Us .content img{
	width: auto;
	height: 30vh;
	float: left;
	display: none;
}
#Contact_Us .content article{
	display: inline-block;
	width: 90vw;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 9vh;
	font-size: 2.6vw;
	float: left;
	text-align: justify;
}
#Contact_Us .content article strong{
	font-size: 2.5vw;
	letter-spacing: 0.06vw;
	font-family: Candara;
}
#Contact_Us_Title{
	font-size: 3.6vw;
	letter-spacing: 0.06vw;
	font-family: Calibri;
	font-weight: bold;
}

#About_us .content .No_Border{
	border-bottom-style: none;
}
